<div class="bg-dark">
  <div class="container p-5">
    <div class="row px-md-5 justify-content-between">
      <div class="col-md-8 fw-bold text-white fs-3">
        Copyright © 2023. All rights are reserved
      </div>
      <div class="col-md-2 text-md-end text-sm-center text-white">
        <a href="https://www.linkedin.com/in/abdelrahman-ramadan-6586a125a/" target="_blank">
          <i class="fa-brands fa-linkedin fs-2 me-2"></i>
        </a>
        <a href="https://github.com/AbdelrahmanGebly" target="_blank">
          <i class="fa-brands fa-github fs-2"></i>
        </a>
      </div>
    </div>
  </div>

</div>
