<div class="projects bg-light py-md-5 px-md-5" id="projects">
  <div class="container p-md-5">
    <div class="header px-md-5 mb-5">
      <h4 class="text-uppercase text-success fw-bold">portfolio</h4>
      <h5 class="fs-4 fw-bold">Each project is a unique piece of development.</h5>
    </div>
    <div class="cover px-md-5">
      <div class="row bg-white rounded-5 gx-md-5 py-4 align-items-md-center">
        <div class="col-lg-6">
          <div class="image rounded-5 overflow-hidden h-100 border-dark h-100">
            <img src="../../assets/images/homepage.png" alt="E-commerce site image"
              class="w-100 position-relative rounded-5">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="text-center p-3 text">
            <h2 class="fs-5 my-4 fw-bold text-uppercase">E-commerce(<span class="fs-6 text-muted">Septemper 2023</span>)
              <i class="fa-solid fa-cart-shopping text-success"></i>
            </h2>
            <p class="fs-5 text-muted">
              A car rental website is an online platform that allows users to rent cars for personal or business use.
              The website provides an interface for searching, comparing, and reserving cars.
            </p>
            <span class="p-2 bg-white shadow mt-3 me-3">Angular</span>
            <span class="p-2 bg-white shadow mt-3">JQuery</span>
            <br>
            <a href="#" class="fw-bolder mt-4">
              Code
              <i class="fa-brands fa-github"></i>
            </a>
            <a href="#" class="fw-bolder mt-4">
              Live Demo
              <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="cover px-md-5 mt-5">
      <div class="row bg-white rounded-5 gx-md-5 py-4 align-items-md-center">
        <div class="col-lg-6">
          <div class="image2 rounded-5 overflow-hidden h-100 border-dark h-100">
            <img src="../../assets/images/carRental.webp" alt="E-commerce site image"
              class="w-100 position-relative rounded-5">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="text-center p-3 text">
            <h2 class="fs-5 my-4 fw-bold text-uppercase">Car Rental(<span class="fs-6 text-muted">fabruary 2023</span>)
              <i class="fa-solid fa-car text-success"></i>
            </h2>
            <p class="fs-5 text-muted">
              A car rental website is an online platform that allows users to rent cars for personal or business use.
              The website provides an interface for searching, comparing, and reserving cars.
            </p>
            <span class="p-2 bg-white shadow mt-3 me-3">Angular</span>
            <span class="p-2 bg-white shadow mt-3">JQuery</span>
            <br>
            <a href="#" class="fw-bolder mt-4">
              Code
              <i class="fa-brands fa-github"></i>
            </a>
            <a href="#" class="fw-bolder mt-4">
              Live Demo
              <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
