  <div class="stack d-flex px-5">
    <h5 class="text-capitalize me-lg-5 position-relative textStack fw-bold mt-3 py-2">tech stack</h5>
    <div class="row g-md-4 justify-content-start">
      <div class="position-relative top-0 start-0  col-3 first">
        <img src="https://skillicons.dev/icons?i=html,css" alt="skill-icon">
      </div>
      <div class="position-relative top-0 start-0 col-3 first">
        <img src="https://skillicons.dev/icons?i=js,ts" alt="skill-icon">
      </div>
      <div class="position-relative top-0 start-0 col-3 first">
        <img src="https://skillicons.dev/icons?i=react,next" alt="skill-icon">
      </div>
      <div class="position-relative top-0 start-0 col-3">
        <img src="https://skillicons.dev/icons?i=tailwind,scss" alt="skill-icon">
      </div>
    </div>
  </div>
