<div id="home" class="bg-body-secondary">
  <div class="container pt-5 px-5">
    <div class="row g-5 p-lg-5 justify-content-between">
      <div class="text col-lg-7 pe-5 pt-lg-3">
        <h1 class="text-capitalize header">front-End angular developer
          <img src="../../assets/images/waving.png" alt="waving image" class="wave">
        </h1>
        <p>
          Hi, I'm Abdelrahman Ramadan. A passionate Front-end Angular Developer.
        </p>
        <a href="https://www.linkedin.com/in/abdelrahman-ramadan-6586a125a/" target="_blank">
          <i class="fa-brands fa-linkedin fs-2 me-2"></i>
        </a>
        <a href="https://github.com/AbdelrahmanGebly" target="_blank">
          <i class="fa-brands fa-github fs-2"></i>
        </a>
      </div>
      <div class="col-lg-4">
        <div class="image">
          <img src="../../assets/images/mainImage.jpg" alt="Abdelrahman image" class="w-100 rounded-circle">
        </div>
      </div>
    </div>
    <app-stack></app-stack>
  </div>

</div>
